<div class="d-flex align-items-center header-wrap">
  <img class="mr-auto" src="./assets/logo.svg" alt="">
<!--  <span class="title mr-auto">{{url && url !== '/' ? 'Fortuna Minting Panel' : 'WNDAU Liquidity Mining Program'}}</span>-->
  <div *ngIf="url && url !== '/'" class="d-flex align-items-center">
    <span class="toggle-span" (click)="changeConnection(false)">TEST NET</span>
    <div class="toggle-wrap ml-2 mr-2" (click)="changeConnection(!toggle)">
      <div class="toggle-btn" [style.left]="!toggle ? '3px' : '21px'"></div>
    </div>
    <span class="toggle-span" (click)="changeConnection(true)">MAIN NET</span>
  </div>
  <button *ngIf="!ifConnected" (click)="connect()" class="btn login-btn">Connect MetaMask</button>
  <ng-select class="login-select"
             *ngIf="ifConnected"
             placeholder="{{accAddress}}"
             [searchable]="false" (change)="web3Service.disconnect()">
    <ng-option>Disconnect</ng-option>
  </ng-select>
</div>

<form *ngIf="url && url !== '/'" [formGroup]="transForm" novalidate class="wrapper">
  <div class="wrapper-col">
    <span>Operation</span>
    <ng-select class="mt-2 operation-select"
               placeholder="Mint for"
               formControlName="type"
               [searchable]="false">
      <ng-option [value]="'Mint for'">Mint for</ng-option>
      <ng-option [value]="'Burn from'">Burn from</ng-option>
      <ng-option [value]="'Replace signer'">Replace signer</ng-option>
      <ng-option [value]="'Return deposit'">Return deposit</ng-option>
      <ng-option [value]="'Set rewards'">Set rewards period</ng-option>
    </ng-select>
  </div>
  <div class="wrapper-col">
    <div class="form-group">
      <span *ngIf="transForm.value.type === 'Mint for' || transForm.value.type === 'Burn from' || transForm.value.type === 'Return deposit'">{{"Receiver"}}</span>
      <span *ngIf="transForm.value.type === 'Replace signer'">{{"Previous"}}</span>
      <input type="text" *ngIf="transForm.value.type === 'Mint for' || transForm.value.type === 'Burn from' || transForm.value.type === 'Return deposit'"
             [ngClass]="{'border-danger': transForm.controls['receiver'].invalid && transForm.controls['receiver'].touched}"
             class="form-control mt-2"
             formControlName="receiver"
             placeholder="Address">
      <input type="text" *ngIf="transForm.value.type === 'Replace signer'"
             class="form-control mt-2"
             formControlName="prevSigner"
             placeholder="Address">
    </div>
  </div>
  <div class="wrapper-col">
    <div class="form-group">
      <span *ngIf="transForm.value.type === 'Mint for' || transForm.value.type === 'Burn from' || transForm.value.type === 'Return deposit'">{{"Amount"}}</span>
      <span *ngIf="transForm.value.type === 'Replace signer'">{{"New signer"}}</span>
      <input type="number"
             min="0"
             *ngIf="transForm.value.type === 'Mint for' || transForm.value.type === 'Burn from' || transForm.value.type === 'Return deposit'"
             [ngClass]="{'border-danger': !transForm.value.amount && transForm.controls['amount'].touched}"
             class="form-control mt-2 mb-3"
             formControlName="amount"
             placeholder="0">
      <input type="text"
             *ngIf="transForm.value.type === 'Replace signer'"
             class="form-control mt-2 mb-3"
             formControlName="newSigner"
             placeholder="Address">
    </div>
    <button class="btn btn-yellow"
            [ngClass]="{'mt-3': transForm.value.type === 'Set rewards'}"
            [disabled]="!transForm.valid || !web3Service.accountSubject.getValue().length"
            (click)="submitTransaction()">Submit</button>
  </div>
</form>
