<div class="modal-body">
  <div class="wrapper">
    <div class="wrapper-col">
      <span>Operation</span>
      <div class="read-only mt-2">
        <span class="pr-3">{{transaction?.type}}</span>
      </div>
      <div class="operation d-flex align-items-center mt-3" style="height: 46px; font-size: 14px;">
        <span>Transaction id: {{transaction?.id}}</span>
      </div>
    </div>
    <div class="wrapper-col">
      <div class="form-group">
        <span>{{transaction?.type === 'Replace signer' ? 'Previous' : 'Receiver'}}</span>
        <input type="text" readonly
               style="font-size: 14px;color: #8181A5;"
               class="form-control mt-2"
               value="{{transaction?.account}}">
      </div>
    </div>

    <div class="wrapper-col">
      <div class="form-group">
        <ng-container>
          <div class="d-flex justify-content-between">
            <span>{{transaction?.type === 'Replace signer' ? 'New signer' : 'Amount'}}</span>
            <span *ngIf="transaction?.executed" style="color: green">Confirmed</span>
            <span *ngIf="!transaction?.executed && transaction?.confirmations > 4" style="color: darkred">Failed</span>
          </div>
          <input type="text" readonly
                 style="font-size: 14px;color: #8181A5;"
                 class="form-control mt-2 mb-3"
                 value="{{transaction?.amount}}">
        </ng-container>
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-yellow"
                  (click)="confirmTransaction(transaction?.id, transaction?.confirmations)">Confirm</button>
          <span class="ml-auto">{{transaction?.confirmations}} of 5</span>
        </div>
      </div>
    </div>
  </div>
</div>
